<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sagereal.zq.game"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="15" />

    <uses-permission android:name="android.permission.CALL_PRIVILEGED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.sagereal.zq.game.AppConfig"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.sagereal.zq.game.MainActivity"
            android:label="游戏"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sagereal.zq.game.link.LianActivity"
            android:label="连连看"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity
            android:name="com.sagereal.zq.game.tank.TankActivity"
            android:label="坦克大战"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.sagereal.zq.game.block.BlockActivity"
            android:label="俄罗斯方块"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity
            android:name="com.sagereal.zq.game.puzzle.PuzzleActivity"
            android:label="拼图"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light" >
        </activity>
        <activity
            android:name="com.sagereal.zq.game.five.FiveActivity"
            android:label="五子棋"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.sagereal.zq.game.fish.FishActivity"
            android:label="大鱼吃小鱼"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.sagereal.zq.game.chess.ChessActivity"
            android:label="象棋"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.sagereal.zq.game.bird.BirdActivity"
            android:label="FlappyBird"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <activity
            android:name="com.sagereal.zq.game.g2048.G2048Activity"
            android:label="2048"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.sagereal.zq.game.popstar.PopStarActivity"
            android:label="PopStar"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.sagereal.zq.game.piano.PianoActivity"
            android:label="Piano"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
    </application>

</manifest>